@{
    ViewData["Title"] = "Concessionárias";
    bool podeInserir = ViewBag.PodeInserir;
    bool podeAtualizar = ViewBag.PodeAtualizar;
}

@model List<ModeloConsultaConcessionária>

<div class="container mt-4">
    @if (TempData["MemsagemDeSucesso"] is not null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">

            <div>@TempData["MemsagemDeSucesso"]</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Concessionárias
                        @if (podeInserir)
                        {
                            <a asp-controller="Concessionaria" asp-action="Criar" class="btn btn-primary float-end">Nova Concessionária</a>
                        }
                        else
                        {
                            <a class="disabled btn btn-primary float-end">Nova Concessionária</a>
                        }

                    </h4>
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Cidade</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Capaxidade de Veículos</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (ModeloConsultaConcessionária concessionaria in this.Model)
                            {
                                <tr>
                                    <td>@concessionaria.Nome</td>
                                    <td>@concessionaria.Cidade</td>
                                    <td>@concessionaria.Estado</td>
                                    <td>@concessionaria.Telefone</td>
                                    <td>@concessionaria.CapacidadeMaximaVeiculos</td>
                                    <td>

                                        @if (podeAtualizar)
                                        {
                                            <a asp-route-id="@concessionaria.ConcessionariaId" asp-controller="Concessionaria" asp-action="Editar" class="btn btn-success btn-sm">Editar</a>
                                        }
                                        else
                                        {
                                            <a class="disabled btn btn-success btn-sm">Editar</a>
                                        }

                                        <a asp-route-id="@concessionaria.ConcessionariaId" asp-controller="Concessionaria" asp-action="Detalhes" class="btn btn-info btn-sm">Detalhes</a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>