@inject IUsuarioServiço serviço
@using System.Globalization
@{
    ViewData["Title"] = "Veiculos";
}

@model List<ModeloConsultaVeiculo>

<div class="container mt-4">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Veiculos
                        @if (serviço.TemPermissão("Veículo.Inserir"))
                        {
                            <a asp-controller="Veiculo" asp-action="Criar" class="btn btn-primary float-end">Novo Veículo</a>
                        }
                        else
                        {
                            <a class="disabled btn btn-primary float-end">Novo Veículo</a>
                        }

                    </h4>
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Modelo</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Ano de Fabricação</th>
                                <th scope="col">TipoVeiculo</th>
                                <th scope="col">Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (ModeloConsultaVeiculo veiculo in this.Model)
                            {
                                <tr>
                                    <td>@veiculo.Modelo</td>
                                    <td>@veiculo.Preco.ToString("C", new CultureInfo("pt-BR"))</td>
                                    <td>@veiculo.AnoFabricacao</td>
                                    <td>@veiculo.TipoVeiculo</td>
                                    <td>@veiculo.Fabricante</td>
                                    <td>
                                        Concessionárias
                                        @if (serviço.TemPermissão("Veículo.Atualizar"))
                                        {
                                            <a asp-route-id="@veiculo.VeiculoId" asp-controller="Veiculo" asp-action="Editar" class="btn btn-success btn-sm">Editar</a>
                                        }
                                        else
                                        {
                                            <a class="disabled btn btn-success btn-sm" disabled>Editar</a>
                                        }

                                        <a asp-route-id="@veiculo.VeiculoId" asp-controller="Veiculo" asp-action="Detalhes" class="btn btn-info btn-sm">Detalhes</a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>