@using System.Globalization
@{
    ViewData["Title"] = "Vendas";
    bool podeInserir = ViewBag.PodeInserir;
}

@model List<ModeloConsultaVenda>

<div class="container mt-4">
    @if (TempData["MemsagemDeSucesso"] is not null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">

            <div>@TempData["MemsagemDeSucesso"]</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Vendas
                        @if (podeInserir)
                        {
                            <a asp-controller="Venda" asp-action="Criar" class="btn btn-primary float-end">Nova Venda</a>
                        }
                        else
                        {
                            <a class="disabled btn btn-primary float-end" disabled>Nova Venda</a>
                        }
                        
                    </h4>
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Preço da venda</th>
                                <th scope="col">Data da venda</th>
                                <th scope="col">Protocolo da venda</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Veiculo</th>
                                <th scope="col">Concessionaria</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (ModeloConsultaVenda venda in this.Model)
                            {
                                <tr>
                                    <td>@venda.PrecoVenda</td>
                                    <td>@venda.DataVenda.ToString("dd/MM/yyyy", new CultureInfo("pt-BR"))</td>
                                    <td>@venda.ProtocoloVenda</td>
                                    <td>@venda.Cliente</td>
                                    <td>@venda.Veiculo</td>
                                    <td>@venda.Concessionaria</td>
                                    <td>

                                        <a asp-route-id="@venda.VendaId" asp-controller="Venda" asp-action="Detalhes" class="btn btn-info btn-sm">Detalhes</a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>